<h2>{{articles.title}}</h2>
<h4>Source: {{articles.sourceLink}}</h4>

<h4>Comments</h4>
	{{#if articles.comments}}
		{{#each articles.comments}}
			<h4>{{this.title}}</h4>
			<p>{{this.body}}</p>
			<form method="POST" action="/comment/remove/{{this.id}}?_method=DELETE">
				<button type="submit">Delete comment</button>
			</form>
		{{/each}}
	{{else}}
		Be the first to add a comment!
	{{/if}}

<h3>Comment</h3>
<form action="/articles/{{articles.id}}" method="post">
	<input type="text"name="title" placeholder="Title">
	<br>
	<textarea type="text" name="body"  placeholder="Comment"></textarea>
	<br>
	<input type="submit">
</form>
